$green-fill: #a3ffe7;
$green-glow: #30ffc4;
$pink-fill: #fff;
$pink-glow: rgba(255, 48, 179, .4);

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;

}

@mixin glowing-green {
  color: $green-fill;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: glowing-green-anim;
  animation-timing-function: ease-in-out;

}

@keyframes glowing-green-anim {
  0% {
    text-shadow: 0 0 .5rem $green-glow;
  }

  50% {
    text-shadow: 0 0 1rem $green-glow;
  }

  100% {
    text-shadow: 0 0 .5rem $green-glow;
  }
}

@keyframes opacity-anim {
  0% {
    opacity: 0.1;
  }

  50% {
    opacity: 1.0;
  }

  100% {
    opacity: 0.1;
  }
}

@keyframes scanlines-anim {
  from {
    background-position: 0 0, 0 0;
  }

  to {
    background-position: 0 0, 0 648px;
  }
}

.overlay {
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-name: scanlines-anim;
  animation-timing-function: linear;
  background-image: url('../assets/overlay-tile-grunge.png'), url('../assets/overlay-tile-scanlines.png');
  background-repeat: repeat;
  bottom: 0;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9001;
}

.oracle {
  display: inline-block;
  height: 82px;
  width: 202px;
  position: relative;
  top: 32px;
  margin: 0 24px;
  overflow: hidden;

  &> em {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.oracle_glow {
  background-image: url('../assets/oracle-text-glow.gif');
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-name: opacity-anim;
  animation-timing-function: linear;
  z-index: 10;
}

.oracle_white {
  background-image: url('../assets/oracle-text-white.png');
  z-index: 9;
  opacity: 0.8;
  background-position: 9px 7px;
  background-repeat: no-repeat;
}

.greeting {
  text-align: center;

  h1 {
    line-height: 100px;

    span {
      @include glowing-green;
      text-emphasis: after;
    }
  }
}
