$green-fill: #a3ffe7;
$green-glow: #30ffc4;
$pink-fill: #fff;
$pink-glow: rgba(255, 48, 179, .4);

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;

}

@mixin glowing-green {
  color: $green-fill;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: glowing-green-anim;
  animation-timing-function: ease-in-out;

}

@keyframes glowing-green-anim {
  0% {
    text-shadow: 0 0 .5rem $green-glow;
  }

  50% {
    text-shadow: 0 0 1rem $green-glow;
  }

  100% {
    text-shadow: 0 0 .5rem $green-glow;
  }
}

@keyframes opacity-anim {
  0% {
    opacity: 0.1;
  }

  50% {
    opacity: 1.0;
  }

  100% {
    opacity: 0.1;
  }
}

@keyframes scanlines-anim {
  from {
    background-position: 0 0, 0 0;
  }

  to {
    background-position: 0 0, 0 648px;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg)
		           translate(-15px)
		           rotate(0deg);
  }
	to {
		transform: rotate(360deg)
		           translate(-15px)
		           rotate(-360deg);
	}
}

.overlay {
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-name: scanlines-anim;
  animation-timing-function: linear;
  background-image: url('../assets/overlay-tile-grunge.png'), url('../assets/overlay-tile-scanlines.png');
  background-repeat: repeat;
  bottom: 0;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9001;
}

.greeting {
  text-align: center;

  h1 {
    // line-height: 100px;

    span {
      @include glowing-green;
      text-emphasis: after;
    }

    em {
      color: transparent;
      display: inline-block;
      height: 82px;
      margin: 0 -12px 0 6px;
      overflow: hidden;
      position: relative;
      vertical-align: middle;
      width: 202px;
    }

    em::before {
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-name: opacity-anim;
      animation-timing-function: ease-in-out;
      background-image: url('../assets/oracle-text-glow.gif');
      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    em::after {
      background: url('../assets/oracle-text-white.png');
      background-repeat: no-repeat;
      bottom: 0;
      content: "";
      left: 8px;
      position: absolute;
      right: 0;
      top: 6px;
      z-index: -1;
    }
  }

  figure {
    position: relative;
    margin: auto;
    padding: 80px 80px 10px;
    background-image: url('../assets/logo-afterimage.png'), url('../assets/logo-afterimage.png'), url('../assets/logo-afterimage.png');
    background-repeat: no-repeat;
    background-position: -10px -10px, 60px 10px, 120px 40px;

    .logo {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;

      background-image: url('../assets/logo-noglo.png'), url('../assets/logo-noglo.png');
      background-position: 0 0 , bottom;
      background-repeat: no-repeat;
    }
  }
}
