.planchette {
  background-color: rgb(122, 92, 189);
  height: 100px;
  position: absolute;
  width: 100px;
  transition-property: left, top;
  transition-duration: 1s;
  transition-timing-function: ease-out;

  &:hover {
    border: 2px solid rgb(189, 178, 217);
    cursor: grab;
    cursor: -webkit-grab;
  }

  &:active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
  }
}
